.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  font-size: x-small;
  padding: 4px;
}
.stars-outer{
  content: "\f006 \f006 \f006 \f006 \f006";
}
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  font-size: x-small;
  /* padding: 4px; */
}
/* .stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: slategray;
} */